<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">Dealer</div>
        <div class="panel-body">
          5&spades;
          <div class="row">
            <div class="col-lg-4">
              <button class="btn btn-success btn-block">Get Card</button>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-danger btn-block">Deal</button>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-default btn-block">Restart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ tagline }}
</div>
